---
layout: default
title: Frequently Asked Questions
---

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    What is WSUCon?
                </h4>
            </div>
        </a>
        <div id="collapse-1" class="panel-collapse collapse">
            <div class="panel-body">
                WSUCon is an annual social gaming event hosted by the Linux Users' Group on campus. Its purpose is to bring WSU students, faculty, alumni, and the Pullman-Moscow gaming community together.
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Is it really free?
                </h4>
            </div>
        </a>
        <div id="collapse-2" class="panel-collapse collapse">
            <div class="panel-body">
                Yes!
                <br />
                However, we do accept donations! No amount is too small! Visit our <a href=sponsors.html>Sponsors</a> page to find out more information.
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-3">
            <div class="panel-heading">
                <h4 class="panel-title">
                        Do I have to be a WSU student to attend?
                </h4>
            </div>
        </a>
        <div id="collapse-3" class="panel-collapse collapse">
            <div class="panel-body">
                Nope, we welcome WSU students, faculty, alumni as well as Pullman-Moscow community members and the public at large. Basically, anyone as long as they are not in bad standing with the clubs hosting the event.
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-4">
            <div class="panel-heading">
                <h4 class="panel-title">
                    What does it mean to register for a "WSUCon - Desktop Seat"?
                </h4>
            </div>
        </a>
        <div id="collapse-4" class="panel-collapse collapse">
            <div class="panel-body">
                A "WSUCon - Desktop Seat" means the following:
                <ul>
                    <li>One seat with an ethernet connection</li>
                    <li>Power plug for 1 desktop and 1 monitor (2 outlets)</li>
                    <li>Ability to enter into PC game tournaments</li>
                    <li>Prizes</li>
                    <li>Food</li>
                </ul>
                Please be considerate of your neighbors at WSUCon. More than 1 monitor can encroach on the space of others and trip the breaker on up to 59 other gamers in your row, so please be aware of that when packing up your equipment.
                <br>
                Each person only gets one seat per registration. If you want your friends to come, make sure they sign-up through their own names! Duplicate registrations will be cancelled.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-16">
            <div class="panel-heading">
                <h4 class="panel-title">
                    What does it mean to register for a "WSUCon - Laptop Seat"?
                </h4>
            </div>
        </a>
        <div id="collapse-16" class="panel-collapse collapse">
            <div class="panel-body">
                <p>A "WSUCon - Laptop Seat" means the following:</p>
                <ul>
                    <li>One seat with a high speed WiFi connection</li>
                    <li>Power plug for 1 one laptop (1 outlet)</li>
                    <li>Ability to enter into PC game tournaments</li>
                    <li>Prizes</li>
                    <li>Food</li>
                <br>
                <p>Each person only gets one seat per registration. If you want your friends to come, make sure they sign-up through their own names! Duplicate registrations will be cancelled.</p>
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-5">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Do I need to be registered for tournaments?
                </h4>
            </div>
        </a>
        <div id="collapse-5" class="panel-collapse collapse">
            <div class="panel-body">
                Yes! You must be registered for our official tournaments. For more information, go to our <a href="games-tournaments.html">Games & Tournaments</a> page.
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-6">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Do I need a team?
                </h4>
            </div>
        </a>
        <div id="collapse-6" class="panel-collapse collapse">
            <div class="panel-body">
                Only if you want to participate in a tournament that requires a team to play.
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-7">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Where can I find people for teams?
                </h4>
            </div>
        </a>
        <div id="collapse-7" class="panel-collapse collapse">
            <div class="panel-body">
                If you aren't sure where to find a team or people to be on your team, you can check out our <a href="https://www.facebook.com/WSUCon-157040581005218">Facebook</a>  and event page. You could also try meeting people at the event!
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-8">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Will there be prizes?
                </h4>
            </div>
        </a>
        <div id="collapse-8" class="panel-collapse collapse">
            <div class="panel-body">
                Yes! This year we will be giving away a variety of 3D printed trophies themed for their tournaments. In general, prizes are given for 1st, 2nd, and 3rd place, occasionally with additional prized categories.
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Do I have to stay the whole 24 hours?
                </h4>
            </div>
        </a>   
        <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
                No, but you absolutely can! There will be stuff to do throughout the entire event! Check out the <a href=program-xvii.pdf>official program</a> for a complete list.
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-10">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Will there be food?
                </h4>
            </div>
        </a>
        <div id="collapse-10" class="panel-collapse collapse">
            <div class="panel-body">
                Yes! Food provided by WSUCon is done first by PC (desktop and laptop) gamer table, then console gamer table. We will have dinner, a breakfast, and lunch served throughout WSUCon. Given that we have a tight budget and food estimation is always tricky, seconds will open after everyone has been given the opportunity to get some food once.
                <br />
                If you're still hungry, WSUCon organizers are happy to help you build a pool of other hungry attendees for ordering a pizza.
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-11">
            <div class="panel-heading">
                <h4 class="panel-title">
                    What should I bring?
                </h4>
            </div>
        </a>
        <div id="collapse-11" class="panel-collapse collapse">
            <div class="panel-body"><i>
            DISCLAIMER: If something is damaged, lost, or stolen, neither the Linux Users' Group, the Compton Union Building, or Washington State University is liable and will not under any circumstances replace your item(s). </i>
            <br />
            <br />
            Ok, with that painful bit out of the way, in the many years of WSUCon we have never ever had a report of anyone having anything stolen, and the worst things lost or forgotten are ethernet cables. 
            <h4>PC Gamers</h4>
            If you intend to play any PC games, in the tournaments or not, you will need to bring a computer capable of playing the games you want to participate in. This means everything, and read carefully!
            <br>If your gaming rig is a <strong>tower</strong>:
            <ul>
                <li>Tower</li>
                <li>Monitor</li>
                <li>Keyboard</li>
                <li>Mouse</li>
                <li>Power Cables for your desktop and monitor</li>
                <li>Headphones (sorry, no speakers)</li>
            </ul>
            or if you're rolling with a good <strong>laptop</strong>:
            <ul>
                <li>Laptop</li>
                <li>Power adapter</li>
                <li>Mouse (unless you are a touchpad king)</li>
                <li>Headphones</li>
                <li>Cooling pad (if you have/need one)</li>
            </ul>
            <h4>Console Gamers</h4>
            <ul>
                <li>Console</li>
                <li>TV/Monitor</li>
                <li>Controllers</li>
                <li>Power Cables for your console and TV/monitor</li>
            </ul>
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-12">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Can I help out with WSUCon?
                </h4>
            </div>
        </a>
        <div id="collapse-12" class="panel-collapse collapse">
            <div class="panel-body">
                Absolutely! Volunteers make WSUCon happen! We always need help setting up, tearing down, and checking people in. Join the #wsucon2019 channel in our <a href="lugslack.eecs.wsu.edu">Slack</a> group, or email Charlie Hanacek at <a href="mailto: charlie.hanacek@wsu.edu">charlie.hanacek@wsu.edu</a>. All volunteers will get a WSUCon 2020 Organizer T-Shirt and proof of volunteering for submission to the WSU Center for Civic Engagement.
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-13">
            <div class="panel-heading">
                <h4 class="panel-title">
                    What if I just found out I can't attend and I've already registered?
                </h4>
            </div>
        </a>
        <div id="collapse-13" class="panel-collapse collapse">
            <div class="panel-body">
                No problem! We're really sorry you can't make it, but we totally understand. You should have gotten a confirmation email from EventBrite congratulating you on registering for WSUCon. Within that email, there should be a link to change registration and cancel. If you aren't able to find how to cancel or change your registration, please contact Charlie Hanacek at charlie.hanacek (at) wsu.edu
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-14">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Where do I park for WSUCon?
                </h4>
            </div>
        </a>
        <div id="collapse-14" class="panel-collapse collapse">
            <div class="panel-body">
                Wondering about parking around WSU? Fear not, we are here to help! Here are some options for parking ranked by waking distance to the<a href="https://goo.gl/maps/BxeQWaT9gjm">CUB</a>:
                <ul>
                    <li><a href="https://goo.gl/maps/U5hcdW5hCMR2">Terrell Library Parking Garage</a> ($3 after 5pm Friday and on weekends)</li>
                    <li><a href="https://goo.gl/maps/1ajATqgEg9A2">CUE Parking Garage</a> ($3 after 5pm Friday and on weekends)</li>
                    <li><a href="https://goo.gl/maps/a2Pisqk7Cg32">Wilson Road Parking Lot and Street Parking</a> (Free after 5pm Friday and on weekends)
                    <li><a href="https://goo.gl/maps/ymhxFtSqzTL2">Grimes Way Parking Lot</a> (Free after 5pm Friday and on weekends)
                </ul>
                We will also have 30 minute mall passes for attendees to check out so they can bring their equipment right up to the CUB! Mall passes will be available for check-out at the check-in desk.
            </div>
        </div>
    </div>
    <!-- /.panel -->
    <!-- /.panel -->
    <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-15">
            <div class="panel-heading">
                <h4 class="panel-title">
                    What if my question wasn't answered
                </h4>
            </div>
        </a>
        <div id="collapse-15" class="panel-collapse collapse">
            <div class="panel-body">
                Visit our <a href='contact.html'>contact page</a> and drop us a line! We will do our best to respond promptly to your question.
            </div>
        </div>
    </div>
    <!-- /.panel -->
</div>
<!-- /.panel-group -->

<!-- /.row -->


