<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>LUG Website: <a href="https://lug.wsu.edu">lug.wsu.edu</a> | Copyright &copy; WSU LUG</p>
        </div>
    </div>
</footer>