<div class="container-fluid">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" id="wsuconlogo"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="games-tournaments.html">Games & Tournaments</a>
                </li>
                
                <li>
                    <a href="sponsors.html">Sponsors</a>
                </li>
                <li>
                        <a href="registration.html">Registration</a>
                </li>
                <li>
                        <a href="faq.html">FAQ</a>
                </li>
                <li>
                    <a href="pictures.html">Pictures</a>
                </li>
                <!-- <li>
                    <a href="winterwonderlan.html">WinterWonder LAN</a>
                </li> -->
                <li>
                        <a href="wsucraft.html">WSUCraft</a>
                </li>
                <li>
                        <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->

</nav>
</div>
