{{ site.wsucon_location }}  
<a href="https://www.google.com/maps/place/Cub+Compton+Union+Building,+1500+Glenn+Terrell+Mall,+Pullman,+WA+99163/@46.7297309,-117.1634548,16z/data=!4m19!1m13!4m12!1m4!2m2!1d-117.1556416!2d46.7290239!4e1!1m6!1m2!1s0x549f871ba10b696f:0xc2c8af80f37d1cc0!2sCub+Compton+Union+Building,+1500+Glenn+Terrell+Mall,+Pullman,+WA+99163!2m2!1d-117.1625132!2d46.7310689!3m4!1s0x549f871ba10b696f:0xc2c8af80f37d1cc0!8m2!3d46.7310689!4d-117.1625132">View map</a>  
<a href="https://s3.wp.wsu.edu/uploads/sites/216/2018/08/Eve-Wknd-Map.pdf">View parking</a>