<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p></p>
        </div>
        <div class="col-md-4 offset-md-4">
            <a class="btn btn-lg btn-block registration-button" href="/registration.html" style="background-color:#20C5B4; color: white">Registration for WSUCon 2020 is OPEN!</a>
        </div>
    </div>
</div>