body {
  background-image: url('../../../static/assets/backgrounds/cubes-47050a87.png');
}

.navbar-inverse {
  background-color: #222;
}


/*
a.navbar-brand {
  background-image: url('../../../static/assets/logos/wsucon-light.svg');
  background-repeat: no-repeat;
  width: 180px;
}*/

.sponsor-image {
  object-fit: cover;
  max-width: 100%;
  max-height: 150px;
}

#wsuconlogo {
  background-image: url('../../../static/assets/logos/wsucon-light.svg');
  background-repeat: no-repeat;
  display: block;
  width: 300px;
  margin: auto;
  margin-top: 5px;
  background-size: contain;
}

.schedule-table {
  width: 100%;
  border: 1px solid black;
}

.schedule-table td {
  width: 50%;
  border: 1px solid black;
  padding: 5px;
}
.schedule-table th {
  width: 50%;
  border: 1px solid black;
  padding: 5px;
}
.registration-button {
  white-space: normal;
}

@media (min-width: 1px) and (max-width: 1200px) {
  .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-collapse.collapse.in {
      display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
      display:block !important;
  }
  .navbar-header {
      float:none;
  }
}
