<!DOCTYPE html>
<html lang="en">

<head>
    {% include head_matter.html %}
</head>

<body>
    
        {% include navbar.html %}
        {% include registration_banner.html %}

    <div class="container">
    <!-- Page Content -->


        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ page.title }}</h1>
                
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>LUG Website: <a href="https://lug.wsu.edu">lug.wsu.edu</a> | Copyright &copy; WSU LUG</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
