
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head_matter.html %}


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Important gallery script -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
    
    </script>
    <!-- Navigation -->
    <div class="container">
        {% include navbar.html %}
        {% include registration_banner.html %}
        <h1>{{ page.title | default: "Gallery"}}</h1>
        <!-- Content Row -->
        <div class="row">
            {% for photo in page.photos %} 
                <div class="col-lg-4">
                    <a href="{{ site.wsucon_photo_host }}/static/assets/photos/{{ page.year }}{{ photo.url }}" data-toggle="lightbox"><img style="display: block;" src="{{ site.wsucon_photo_host }}/static/assets/photos/{{ page.year }}/{{ page.year }}-mini{{ photo.url }}"></li>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>LUG Website: <a href="https://lug.wsu.edu">lug.wsu.edu</a> | Copyright &copy; WSU LUG</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


    

</body>

</html>
