<!DOCTYPE html>
<html lang="en">

<head>
    {% include head_matter.html %}
    <title>WSUCon</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Override LUG CSS -->
    <link href="static/resources/css/override.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <div class="container">
        {% include navbar.html %}
    </div>
    
    {% include photo_carousel.html %}
    
    {% include registration_banner.html %}
    

    
    <!-- Page Content -->
    <div class="container">
        
    <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ site.wsucon_slogan }}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Location</h4>
                    </div>
                    <div class="panel-body">
                        {% capture quick_location %}{% include quick_location.html %}{% endcapture %}
                        {{ quick_location | markdownify }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Date and Time</h4>
                    </div>
                    <div class="panel-body">
                        {% capture quick_datetime %}{% include quick_datetime.html %}{% endcapture %}
                        {{ quick_datetime | markdownify }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Cost</h4>
                    </div>
                    <div class="panel-body">
                        <p>WSUCon is <strong>free</strong> for all attendees thanks to the generousity of our sponsors. See our <a href="sponsors.html">Sponsors</a> page for more information.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h2 class="panel-title" >About</h2></div>
                    <div class="panel-body">
                        <p>WSUCon is an 24 hour annual social and gaming event that brings together WSU students, faculty, and the public in a fun and lively environment. Now in its <strong>18th</strong> iteration, you can expect the largest WSUCon yet. WSUCon is <b>free to attend</b> because of the generous donations from <a href="sponsors.html">our sponsors</a>.</p>
                        <br><p>We are planning on the biggest WSUCon yet, complete with even more gaming space, more bandwidth, and more <i>unquestionable</i> gaming glory. Check out the <a href="games-tournaments.html">schedule</a> and <a href="faq.html">FAQs</a> for more info. If you want to see what the con has looked like in the past, check out the <a href="pictures.html">pictures</a> from previous years.</p>
                        <br><p>Come meet new people and have a blast! We can't wait to see you there!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h2 class="panel-title">New this year</h2></div>
                    <div class="panel-body">
                        <ul>
                            <li>2 Gbps connection speed out of the CUB (previously 1 Gbps)</li>
                            <li>Esports gaming PCs</li>
                            <li>12pm start time (previously 6pm on Friday)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        
        
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Join the community.  Help keep WSUCon free by donating to our GoFundMe for WSUCon 2020. </p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="https://www.gofundme.com/WSUConXV">Donate Today</a>
                </div>
            </div>
        </div>
        
        <hr>
    
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>LUG Website: <a href="https://lug.wsu.edu">lug.wsu.edu</a> | Copyright &copy; WSU LUG</p>
                </div>
            </div>
        </footer>
    
    </div>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
